<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> %>
    <link rel="stylesheet" href="./../static/styles.css">
    <title>Joseph Yusufov</title>
</head>
<body>
    <div class="grid">
        <div class="sidebar">
            <div class="sidebar-wrap">
                <div class="nested">
                    <h1 id="name">Joseph Yusufov</h1> 
                    <img id="image" src="./../static/profile-image.png" alt="image">
                    <h3 id="number"> 347-979-6200 </h3>
                    <h3 id="email"> jyusufov00@stuy.edu </h3>
                    <h3 id="github"> https://github.com/JosephYusufov </h3>
                </div>
            </div>
        </div>
        <div class="meat">
            <div class="content">
                <h1>CLEVER, INTUITIVE, AND RELIABLE</h1>
                <hr>
                <h2>Skills</h2>
                <ul id="skills">
                    <ul id="programming-languages">
                        <h3>Programming Languages:</h3>
                        <li>Java (AP Computer Science)</li>
                        <li>HTML and CSS</li>
                        <li>JavaScript and popular Javascript Libraries (Node.js, Express.js, Passport.js)</li>
                        <li>PHP</li>
                        <li>SQL, MySQL, and Database Administration</li>
                        <li>Swift and the XCode Platform</li>
                    </ul>
                    <br>
                    <ul id="productivity">
                        <h3>Productivity Tools:</h3>
                        <li>Microsoft Word</li>
                        <li>Microsoft Excel</li>
                        <li>Microsoft PowerPoint</li>
                        <li>Git/Github</li>
                    </ul>
                    <br>
                    <ul id="Marketing">
                        <h3>Marketing and Social Media:</h3>
                        <li>Facebook Ad Platform</li>
                        <li>Instagram Ad Platform</li>
                        <li>Social Media Marketing (Facebook, Instagram, Twitter)</li>
                    </ul>
                </ul>
                <%# END OF SKILLS %>
                <br>
                <hr>
                <br>
                <div class="bio-container">
                    <div class="bio-card">
                        <img src="static/img/Joseph-Circle.png" alt="vishwaa"><br>
                        <span class="name">Joseph Yusufov</span><br>
                        <span class="title">Secretary-General</span><br>
                            <div class="bio-text">
                                <span class="desc">Vishwaa Sofat is a senior at Stuyvesant High School. Vishwaa was born in Punjab, India but
                                    moved to the U.S. when he
                                    was two. He is the president of the Stuyvesant Student Union, serves on advisory councils for the NYC
                                    Department of
                                    Education and Congresswoman Carolyn B. Maloney, and is a representative for Manhattan’s Community Board 1.
                                    While
                                    working at Mount Sinai Hospital the summer before his sophomore year, Vishwaa recognized a common thread
                                    among many
                                    patients from minority groups: adults avoid going to the doctor, even when they know they need medical
                                    assistance.
                                    To change this narrative, he founded DHA.
                                </span>
                            </div>
                    </div>
                
                    <div class="bio-card">
                        <img src="static/img/Ahmed-Circle.png" alt="neve"><br>
                        <span class="name">Ahmed Sultan</span><br>
                        <span class="title">Secretary-General</span><br>
                        <div class="bio-text">
                            <span class="desc">Vishwaa Sofat is a senior at Stuyvesant High School. Vishwaa was born in Punjab, India but
                                moved to the U.S. when he
                                was two. He is the president of the Stuyvesant Student Union, serves on advisory councils for the NYC
                                Department of
                                Education and Congresswoman Carolyn B. Maloney, and is a representative for Manhattan’s Community Board 1.
                                While
                                working at Mount Sinai Hospital the summer before his sophomore year, Vishwaa recognized a common thread
                                among many
                                patients from minority groups: adults avoid going to the doctor, even when they know they need medical
                                assistance.
                                To change this narrative, he founded DHA.
                            </span>
                        </div>
                    </div>
                    <div class="bio-card">
                        <img src="static/img/Max-Circle.png" alt="sherry"><br>
                        <span class="name">Max Goldstein</span><br>
                        <span class="title">Secretary-General</span><br>
                        <div class="bio-text">
                            <span class="desc">Vishwaa Sofat is a senior at Stuyvesant High School. Vishwaa was born in Punjab, India but
                                moved to the U.S. when he
                                was two. He is the president of the Stuyvesant Student Union, serves on advisory councils for the NYC
                                Department of
                                Education and Congresswoman Carolyn B. Maloney, and is a representative for Manhattan’s Community Board 1.
                                While
                                working at Mount Sinai Hospital the summer before his sophomore year, Vishwaa recognized a common thread
                                among many
                                patients from minority groups: adults avoid going to the doctor, even when they know they need medical
                                assistance.
                                To change this narrative, he founded DHA.
                            </span>
                        </div>
                    </div>                            
                    <div class="bio-card">
                        <img src="static/img/Alma-Circle.png" alt="emily"><br>
                        <span class="name">Alma Thaler</span><br>
                        <span class="title">Director-General</span><br>
                        <div class="bio-text">
                            <span class="desc">Vishwaa Sofat is a senior at Stuyvesant High School. Vishwaa was born in Punjab, India but
                                moved to the U.S. when he
                                was two. He is the president of the Stuyvesant Student Union, serves on advisory councils for the NYC
                                Department of
                                Education and Congresswoman Carolyn B. Maloney, and is a representative for Manhattan’s Community Board 1.
                                While
                                working at Mount Sinai Hospital the summer before his sophomore year, Vishwaa recognized a common thread
                                among many
                                patients from minority groups: adults avoid going to the doctor, even when they know they need medical
                                assistance.
                                To change this narrative, he founded DHA.
                            </span>
                        </div>
                    </div>
                
                    <div class="bio-card">
                        <img src="static/img/Julian-Circle.png" alt="ahmed"><br>
                        <span class="name">Julian Bedolis</span><br>
                        <span class="title">Director-General</span><br>
                        <div class="bio-text">
                            <span class="desc">Vishwaa Sofat is a senior at Stuyvesant High School. Vishwaa was born in Punjab, India but
                                moved to the U.S. when he
                                was two. He is the president of the Stuyvesant Student Union, serves on advisory councils for the NYC
                                Department of
                                Education and Congresswoman Carolyn B. Maloney, and is a representative for Manhattan’s Community Board 1.
                                While
                                working at Mount Sinai Hospital the summer before his sophomore year, Vishwaa recognized a common thread
                                among many
                                patients from minority groups: adults avoid going to the doctor, even when they know they need medical
                                assistance.
                                To change this narrative, he founded DHA.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> %>
</body>
</html>