@import url('https://fonts.googleapis.com/css?family=Poppins:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display';
    font-weight: 400;
}
body{
    background: #EEF1EF;

}
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 100vh;
    /* grid-template-areas: sidebar meat; */
}

.grid > .sidebar{
    background: #7B506F;
    height: 300vh;
    /* position: fixed; */
}


.nested{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    /* grid-gap: 15px; */
    grid-template-areas: 
    "name"
    "image"
    "number"
    "email"
    "github";
}

.nested > #name{
    padding-top: 20px;
    grid-area: name;
    font-family: "Poppins";
    font-size: 3em;
    color: #EEF1EF;
}
.nested > #image{
    grid-area: image;
    border-radius: 20px;
    height: 35vh;
    margin: 10px 0px;
}
.nested > #number{
    grid-area: number;
    font-family: "Rubik";
    color: #EEF1EF;
}
.nested > #email{
    grid-area: email;
    font-family: "Rubik";
    color: #EEF1EF;
}
.nested > #github{
    grid-area: github;
    font-family: "Rubik";
    color: #EEF1EF;
}

.nested > * :hover{
    color: #054A29;
    transition: 0.3s;
}

.content{
    margin: 20px;
    justify-items: center;
    align-items: center;
}

.content h1{
    text-align: center;
    font-family: "Red Hat Display";
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 3em;
}

.content h2{
    margin: 15px 0px;
    font-size: 2em;
    font-weight: bold;
}

.content h3{
    font-size: 1.5em;
    font-weight: 400px;
}

.content li{
    margin-left: 40px;
    font-size: 1.4em;
}

.skills{
    margin-left: 20px;
}

.sidebar-wrap{
    position: sticky;
    top: 0;
}

.bio-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.bio-card {
	padding: 1%;
    width: 29%;
    margin-right: 1%;
    margin-bottom: 1%;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background: #EEF1EF;
    border: 5px solid #7B506F;
    border-radius: 10px;
    font-family: "Red Hat Display";
    color: black;
    position: relative;
}

.bio-card .bio-text {
    text-align: justify;
    padding: 5%;
}
.bio-card .name{
    font-weight: 700;
}
.bio-card img {
	object-fit: cover;
  	border-radius: 50%;
    width: 18vw;
    margin-bottom: 2%;
    /* height: 300px; */
    background: blue;
}

#symphonyimg{
    background-color: lightskyblue;
}

a{
    text-decoration: none;
    color: black; 
    position: absolute;
    bottom: 5px;
    justify-self: center;
    align-self: center;
    text-align: center;
    transition: 0.3s;
}
.see-more{
    align-self: center;
    justify-self: center;
    background-color: #EEF1EF;
    color: #7B506F;
    font-family: 'Red Hat Display';
    font-size: 0.7em;
    font-weight: 700;
    border: 2px solid #7B506F;
    border-radius: 5px;
    height: 5vh;
    width: 5vw;
    margin-top: 3vh;
    transition: 0.3s;
}

a :hover{
    color: #EEF1EF;
    background-color: #7B506F;
    transition: 0.3s;
}